.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 